<div id="container">
	<h1>Raffler Baffler</h1>
	<!-- depricated method -->
	<!-- {{view Ember.TextField valueBinding="newEntryName"}} -->
	{{outlet}}
	{{!-- works like yield in rails. renders out template and controller based on route --}}
</div>