<div id="container">
	<h1>Raffler Baffler</h1>
	<!-- depricated method -->
	<!-- {{view Ember.TextField valueBinding="newEntryName"}} -->
	{{input valueBinding="newEntryName" action="addEntry"}}
	{{newEntryName}}
	<ul>
		{{#each entries as |entry|}}
		<li>{{entry.name}}</li>
		{{/each}}
	</ul>
</div>